body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container{
    background-color: lightsteelblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
    width: 400px;
    text-align: center;

}

h1{
    margin-bottom: 30px;
}

#taskList{
    list-style: none;
    padding: 0px;
    margin-bottom: 30px;
}

#taskList li{
    padding: 10px;
    margin: 5px 0;
    background-color: #f2f2f2;
    border-radius: 5px;
    position: relative;
}

#startBtn{
    background-color: lightcoral;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
}

.info{
    color: navy;
}

#status{
    color: green;
}